<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Mezbele</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    @Styles.Render("~/Content/css")
    <style>
        header, main, footer {
            padding-left: 100px;
        }

        @@media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
    </style>
</head>
<body>
    <header>@Html.Partial("~/Views/Shared/App/_AppMenu.cshtml")</header>
    <main>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="page-footer blue-grey darken-3">@Html.Partial("~/Views/Shared/App/_AppFooter.cshtml")</footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
