<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mezbele</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")

</head>
<body id="AppBody">
    <div class="ui fluid container" id="AppContainer">
        @Html.Partial("~/Views/Shared/App/_AppMenu.cshtml")
        @RenderBody()
    </div>

    @Html.Partial("~/Views/Shared/App/_AppFooter.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
