<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mezbele</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")
</head>
<body class="segment">
    @Html.Partial("~/Views/Shared/App/_AppSidebar.cshtml")
    <div class="ui container" style="height: 100%; padding-top:2em;">
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Shared/App/_AppFooter.cshtml")

    @RenderSection("scripts", required: false)
</body>
</html>
