@using MEZBELE.Models

@{ var user = Session["User"] as Users; }

<div class="ui visible inverted left vertical sidebar menu">
    <div class="item">
        <div class="text">
            <img class="ui tiny avatar image" src="@user.UserAvatar">
            @user.FirstName @user.LastName
        </div>
    </div>

    <div class="item">
        <div class=" header">Kullanıcı</div>
        <div class="menu">
            @Html.ActionLink("Kullanıcı Paneli", "Index", "Profile", new { area = "" }, new { @class = "item" })
            @Html.ActionLink("Çıkış", "LogOut", "App", new { area = "" }, new { @class = "item" })
        </div>
    </div>

    <div class="item">
        <div class=" header">Ekipler</div>
        <div class="menu">
            @Html.ActionLink("Ekip Paneli", "Index", "Crews", new { area = "" }, new { @class = "item" })
            @foreach (var crew in user.Crews)
            {
            @Html.ActionLink(crew.Name, "Details", "Crews", new { id = crew.Id }, new { @class = "item" })
            }
        </div>
    </div>

    <div class="item">
        <div class=" header">Projeler</div>
        <div class="menu">
            @Html.ActionLink("Proje Paneli", "Index", "Projects", new { area = "" }, new { @class = "item" })
            @foreach (var project in user.Projects)
            {
            @Html.ActionLink(project.Name, "Details", "Projects", new { id = project.Id }, new { @class = "item" })
            }
        </div>
    </div>

    <div class="item">
        <div class=" header">Sistem</div>
        <div class="menu">
            @Html.ActionLink("Anasayfa", "Index", "App", new { area = "" }, new { @class = "item" })
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();
</script>