@model MEZBELE.Models.Crews

@{
    ViewBag.Title = "Yeni Ekip Oluştur";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui raised segment">
                    <a class="ui red ribbon label">Ekip Bilgileri</a>

                    <br /><br />

                    @Html.ValidationSummary(true, "")

                    <div class="field">
                        <label>@Html.LabelFor(model => model.Name):</label>
                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, "")
                        </div>
                    </div>

                    <div class="field">
                        <label>@Html.LabelFor(model => model.Avatar):</label>
                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.Avatar)
                            @Html.ValidationMessageFor(model => model.Avatar, "")
                        </div>
                    </div>

                    <div class="field">
                        <input class="ui teal submit button" type="submit" value="Oluştur" style="margin-bottom: 5px;" />
                        @Html.ActionLink("Ekip Listesine Geri Dön", "Index", null, new { @class = "ui negative button" })
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
