@model MEZBELE.Models.Crews

@{
    ViewBag.Title = Model.CrewName + " - Ekip Detayları";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<div>
    <h4>Ekip Detayları</h4>
    <hr />

    <div class="ui one column grid">
        <div class="column">
            <div class="ui raised segment">
                <a class="ui red ribbon label">Ekip Bilgileri</a>

                <br /><br />

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CrewName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CrewName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CrewAvatar)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CrewAvatar)
                    </dd>

                </dl>
                <p>
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Ekip Listesine Dön", "Index")
                </p>

            </div>
        </div>
    </div>
</div>
