@model MEZBELE.Models.Crews

@{
    ViewBag.Title = Model.Name + " - Ekip Detayları";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<div>
    <h4>Ekip Detayları</h4>
    <hr />

    <div class="ui one column grid">
        <div class="column">
            <div class="ui raised segment">
                <a class="ui red ribbon label">Ekip Bilgileri</a>

                <br /><br />

                <h2 class="ui header" style="padding: 10px;">
                    <img src="@Model.Avatar" class="ui circular image">
                    @Html.DisplayFor(model => model.Name)
                </h2>

                <a class="ui teal ribbon label">Ekip Üyeleri</a>

                <table class="ui very basic table" style="padding: 10px;">
                    <thead>
                        <tr>
                            <th>Üye</th>
                            <th>Seçenekler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                        <tr>
                            <td>
                                <h4 class="ui image header">
                                    <img src="@item.UserAvatar" class="ui mini rounded image">
                                    <div class="content">
                                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                        <div class="sub header">
                                            @item.EMail
                                        </div>
                                    </div>
                                </h4>
                            </td>
                            <td style="padding-left:2em;">

                            </td>
                        </tr>
                        }
                    </tbody>

                </table>

                <div class="ui buttons" style="padding: 10px;">
                    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "ui large teal submit button" })
                    <div class="or" data-text=""></div>
                    @Html.ActionLink("Ekip Listesine Geri Dön", "Index", null, new { @class = "ui negative button" })
                </div>
            </div>
        </div>
    </div>
</div>
