@model MEZBELE.Models.Crews

@{
    ViewBag.Title = Model.CrewName + " - Ekip Bilgilerini Düzenle";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ekip Bilgilerini Düzenle</h4>
        <hr />

        <div class="ui one column grid">
            <div class="column">
                <div class="ui raised segment">
                    <a class="ui red ribbon label">Ekip Bilgileri</a>

                    <br /><br />

                    @Html.ValidationSummary(true, "")
                    @Html.HiddenFor(model => model.Id)

                    <div class="field">
                        <label>@Html.LabelFor(model => model.CrewName):</label>
                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.CrewName)
                            @Html.ValidationMessageFor(model => model.CrewName, "")
                        </div>
                    </div>

                    <div class="field">
                        <label>@Html.LabelFor(model => model.CrewAvatar):</label>
                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.CrewAvatar)
                            @Html.ValidationMessageFor(model => model.CrewAvatar, "")
                        </div>
                    </div>
                    <div class="ui buttons">
                        <input class="ui large teal submit button" type="submit" value="Kaydet" style="margin-left: 10px;" />
                        <div class="or" data-text=""></div>
                        @Html.ActionLink("Geri Dön", "Index", null, new { @class = "ui negative button" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
