@model IEnumerable<MEZBELE.Models.Crews>

@{
    ViewBag.Title = "Ekip Paneli";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}


<div>
    <h4>Ekip Paneli</h4>
    <hr />

    <div class="ui one column grid">
        <div class="column">
            <div class="ui raised segment">
                <a class="ui red ribbon label">Ekipler</a>

                <br /><br /><br />

                <p class="ui right aligned header">
                    @Html.ActionLink("Ekip Oluştur", "Create", "", new { @class = "ui positive button" })
                </p>

                <table class="ui very basic table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CrewName)</th>
                            <th>@Html.DisplayNameFor(model => model.CrewAvatar)</th>
                            <th>Seçenekler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CrewName)
                            </td>
                            <td style="padding-left:2em;">
                                @Html.DisplayFor(modelItem => item.CrewAvatar)
                            </td>
                            <td style="padding-left:2em;">
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "ui primary button" }) 
                                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "ui positive button" }) 
                                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "ui negative button" })
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
