@model MEZBELE.ViewModels.VM
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<br />

<!-- İşler -->
@if (Model.Isler.Count > 0)
{
<div class="row">
    <ul class="collection with-header">
        <li class="collection-header avatar deep-orange-text text-darken-3">
            <div class="valign-wrapper" style="margin:-0.5rem;">
                <i class="large material-icons circle" style="padding-right:1rem;">bug_report</i>
                <h5 class="title valign" style="padding-top:1rem;">
                    İşler <br />
                    <small style="font-size:1rem;">Size atanmış tüm işleri bu listede görebilirsiniz.</small>
                </h5>
            </div>
        </li>
        @foreach (var i in Model.Isler)
        {
            <li class="collection-item">
                <div class="row valign-wrapper" style="margin-bottom:-1rem;">
                    <div class="col s5 l6">
                        <p class="flow-text">
                            <b>#@i.ID </b>
                            @i.IsAdi <br />
                            <small style="font-size:1rem;">
                                @i.Surec.Proje.ProjeAdi
                            </small>
                        </p>
                    </div>
                    <div class="col s1 pull-s1">
                        <span class="badge indigo darken-1 white-text">@i.Surec.SurecAdi</span>
                    </div>
                    <div class="col s2 l1">
                        @DateTime.Parse(i.OlusturmaTarihi.Value.ToString()).ToShortDateString()
                    </div>
                    <div class="col s1">
                        @DateTime.Parse(i.BitisTarihi.Value.ToString()).ToShortDateString()
                    </div>
                    <div class="col s3">
                        @Html.ActionLink("Detaylar", "IsDetay", "Proje", new { projeKimligi = i.Surec.ProjeID, surecKimligi = i.SurecID, isKimligi = i.ID }, new { @class = "waves-effect waves-green btn deep-orange darken-3 right" })
                    </div>
                </div>
            </li>
        }
    </ul>
    </div>
}
else
{
<div class="row">
    <div class="col s12">
        <div class="card-panel teal">
            <span class="white-text">
                Henüz size atanmış bir iş yok.
            </span>
        </div>
    </div>
</div>
}

<!-- Projeler -->
@if (Model.Kullanici.KullaniciProjeRol.Count > 0)
{
<div class="row">
    <ul class="collection with-header">
        <li class="collection-header avatar teal-text">
            <div class="valign-wrapper" style="margin:-0.5rem;">
                <i class="large material-icons circle" style="padding-right:1rem;">folder</i>
                <h5 class="title valign" style="padding-top:1rem;">
                    Projeler <br />
                    <small style="font-size:1rem;">Dahil olduğunuz tüm projeleri bu listede görebilirsiniz.</small>
                </h5>
            </div>
        </li>
        @foreach (var proje in Model.Projeler)
        {
        <li class="collection-item">
            <p class="flow-text">
                @Html.ActionLink((string)proje.ProjeAdi, "Detay", "Proje", new { projeKimligi = proje.ID }, new { @class = "teal-text text-darken-1", style = "font-size:2rem;" })
            </p>

            @foreach (var rol in proje.KullaniciProjeRol)
            {
                if (rol.KullaniciID == proje.YoneticiID)
                {
                <p class="flow-text" style="margin-top:-1rem;font-size:1rem;">
                    @rol.Kullanici.Adi @rol.Kullanici.Soyadi
                </p>
                }
            }
        </li>
        }
    </ul>
</div>
}
else
{
<div class="row">
    <div class="col s12">
        <div class="card-panel teal">
            <span class="white-text">
                Henüz dahil olduğunuz bir proje yok.
            </span>
        </div>
    </div>
</div>
}