@model MEZBELE.Models.Projects

@{
    ViewBag.Title = "Yeni Proje Oluştur";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
    int uId = Convert.ToInt32(Session["UserId"]);
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Proje Oluştur</h4>
        <hr />

        <div class="ui one column grid">
            <div class="column">
                <div class="ui raised segment">
                    <a class="ui red ribbon label">Proje Bilgileri</a>

                    <br /><br />

                    @Html.ValidationSummary(true, "")

                    <table class="ui definition table">
                        <tbody>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Name)</td>
                                <td>
                                    <div class="ui fluid input">
                                        @Html.EditorFor(model => model.Name)
                                        @Html.ValidationMessageFor(model => model.Name, "")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Description)</td>
                                <td>
                                    <div class="ui form">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @rows = "2" } })
                                        @Html.ValidationMessageFor(model => model.Description, "")
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="field">
                        <input class="ui teal submit button" type="submit" value="Oluştur" style="margin-bottom: 5px;" />
                        @Html.ActionLink("Proje listesine dön", "Index", null, new { @class = "ui negative button" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}