@model MEZBELE.Models.Projects

@{
    ViewBag.Title = Model.Name + " - Projeyi Sil";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<div>
    <h4>Projeyi Sil</h4>
    <hr />
    <div class="ui one column grid">
        <div class="column">
            <div class="ui raised segment">
                <a class="ui red ribbon label">Silinecek Proje</a>
                <span>Aşağıdaki bilgilere sahip projeyi silmek istediğinize emin misiniz?</span>
                <br /><br /><br />

                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ChangeDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChangeDate)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Sil" class="ui negative button" /> |
                        @Html.ActionLink("Proje listesine dön", "Index")
                    </div>
                }

            </div>
        </div>
    </div>
</div>