@model MEZBELE.ViewModels.VM
@{
    ViewBag.Title = "İş Detayı";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}
<br />
<div class="row">
    <nav>
        <div class="nav-wrapper blue-grey darken-1">
            <div class="col s12">
                <a href="/Proje/Detay?projeKimligi=@Model.AktifProje.ID" class="breadcrumb">@Model.AktifSurec.Proje.ProjeAdi </a>
                @if (Model.AktifSurec.Surec2 != null)
                {
                    <a href="/Proje/SurecDetay?projeKimligi=@Model.AktifProje.ID&surecKimligi=@Model.AktifSurec.Surec2.ID" class="breadcrumb">@Model.AktifSurec.Surec2.SurecAdi</a>
                }
                <a href="/Proje/SurecDetay?projeKimligi=@Model.AktifProje.ID&surecKimligi=@Model.AktifSurec.ID" class="breadcrumb">@Model.AktifSurec.SurecAdi</a>
                <a href="#!" class="breadcrumb">@Model.AktifIs.IsAdi</a>
                <a href="#!" class="breadcrumb">İş Detayı</a>
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s10">
                        <span class="card-title">@Model.AktifIs.IsAdi - Açıklama</span>
                        <div class="divider"></div><br />
                        <p>
                            @Model.AktifIs.Aciklama
                        </p>
                        <br />
                        <div class="divider"></div><br />
                        <div class="row">
                            <a class="waves-effect waves-light red btn" href="#İsiSil" onclick="isKimligiGetir(@Model.AktifIs.ID)">İşi Sil</a>
                            @if (Model.AktifIs.AktifMi == true)
                            {
                                if (Model.AtananKisi == null)
                                {
                                    <a class="waves-effect waves-light orange btn" href="#!" onclick="isiAl(@Model.AktifIs.ID)">İşi Al</a>
                                    if (Model.AktifProje.YoneticiID == Model.Kullanici.ID)
                                    {
                                        <a class="waves-effect waves-light deep-orange btn" href="#isAtaModal" onclick="isKimligiGetir(@Model.AktifIs.ID); KullaniciGetir(@Model.AktifProje.ID);">İşi Ata</a>
                                    }
                                }
                                else
                                {
                                    if (Model.Kullanici.ID == Model.AtananKisi.KullaniciID)
                                    {
                                        <a class="waves-effect waves-light orange btn" href="#!" onclick="isiBirak(@Model.AktifIs.ID)">İşi Bırak</a>
                                        <a class="waves-effect waves-light green btn" href="#!" onclick="isiTamamla(@Model.AktifIs.ID)">İşi Tamamla</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="col s2" style="padding-right:2.5rem;">
                        <div class="row">
                            <span class="badge teal white-text" style="width:100%;">@DateTime.Parse(Model.AktifIs.OlusturmaTarihi.Value.ToString()).ToShortDateString()</span>
                        </div>
                        <div class="row">
                            <span class="badge red white-text" style="width:100%;">@DateTime.Parse(Model.AktifIs.BitisTarihi.Value.ToString()).ToShortDateString()</span>
                        </div>
                        <div class="row">
                            <span class="badge deep-orange white-text" style="width:100%;">@Model.AktifIs.Surec.Proje.ProjeAdi</span>
                        </div>

                        @if (Model.AktifSurec.Surec2 != null)
                        {
                        <div class="row">
                            <span class="badge indigo darken-2 white-text" style="width:100%;">@Model.AktifSurec.Surec2.SurecAdi</span>
                        </div>
                        }
                        <div class="row">
                            <span class="badge orange white-text" style="width:100%;">@Model.AktifIs.Surec.SurecAdi</span>
                        </div>
                        <div class="row">
                            <span class="badge green white-text" style="width:100%;">@Model.AktifIs.IsKullanici.Count Çalışan</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- İş Silme Modal -->
<div id="İsiSil" class="modal">
    <div class="modal-content">
        <p>@Model.AktifIs.IsAdi adlı işi silmek istediğinizden emin misiniz?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="isiSil()">Sil</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">İptal</a>
    </div>
</div>
<!-- İş Silme Modal Sonu -->
<!-- İş Atama Modal -->
<div id="isAtaModal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="Kullanıcı" id="kullanicilar" class="autocomplete">
                <label for="kullanicilar">Kullanıcı Bul</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="isiAta()">Ata</a>
    </div>
</div>
<!-- İş Atama Modal Sonu -->

<script>
    var isKimlik;
    function isKimligiGetir(isK) {
        isKimlik = isK;
    }

    function KullaniciGetir(projeKimlik) {
        var projeKimligi = projeKimlik;
        $.post("../Proje/ProjedekiKullanicilariGetir", { projeKimligi }, function (kullanicilar) {
            var veri = {};

            kullanicilar.forEach(function (k) {
                var anahtar = "#" + k.ID + " " + k.Adi + " " + k.Soyadi;
                var deger = k.Avatar;

                veri[anahtar] = deger;
            });

            $('input.autocomplete').autocomplete({
                data: veri
            });
        });
    }

    function isiSil() {
        var isKimligi = {
            isKimligi: isKimlik
        };
        console.log(isKimlik);
        $.post("/Proje/IsiSil", isKimligi, function (cevap) {
            if (cevap == "Başarılı.") {
                Materialize.toast('İş başarıyla silindi.', 3000, 'green rounded');
                window.location("/App/Index");
            } else {
                Materialize.toast('İş silinirken hata!', 3000, 'red rounded');
            }
        });
    }

    function isiAl(isKimligi) {
        var isKimligi = isKimligi;
        $.post("/Proje/IsiAl", { isKimligi}, function (cevap) {
            if (cevap == "Başarılı.") {
                Materialize.toast('İşi üzerine aldın.', 3000, 'green rounded');
                window.location.reload(true);
            } else {
                Materialize.toast('İşi üstüne alamadın!', 3000, 'red rounded');
            }
        });
    }

    function isiBirak(isKimligi) {
        var isKimligi = isKimligi;
        $.post("/Proje/IsiBirak", { isKimligi}, function (cevap) {
            if (cevap == "Başarılı.") {
                Materialize.toast('İşi bıraktın.', 3000, 'green rounded');
                window.location.reload(true);
            } else {
                Materialize.toast('İşi bırakamadın!', 3000, 'red rounded');
            }
        });
    }

    function isiAta() {
        var idMetin = $('input.autocomplete').val();
        var kID = idMetin.substring(idMetin.indexOf("#") + 1, idMetin.indexOf(" "));
        var ik = {
            IsID: isKimlik,
            KullaniciID: kID
        };
        $.post("/Proje/IsiAta", ik, function (cevap) {
            if (cevap == "Başarılı.") {
                Materialize.toast('İşi atama başarılı.', 3000, 'green rounded');
                window.location.reload(true);
            } else {
                Materialize.toast('İşi atama başarısız!', 3000, 'red rounded');
            }
        });
    }

    function isiTamamla(isKimlik) {
        var isKimligi = isKimlik;
        $.post("/Proje/IsiTamamla", { isKimligi }, function (cevap) {
            if (cevap == "Başarılı.") {
                Materialize.toast('İş tamamlandı.', 3000, 'green rounded');
                window.location.reload(true);
            } else {
                Materialize.toast('İş tamamlama kayıt hatası!', 3000, 'red rounded');
            }
        });
    }
</script>