@model MEZBELE.ViewModels.VM
@{
    ViewBag.Title = "Süreç Detayı";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}
<br />

<div class="row">
    <nav>
        <div class="nav-wrapper blue-grey darken-1">
            <div class="col s12">
                <a href="/Proje/Detay?projeKimligi=@Model.AktifProje.ID" class="breadcrumb">@Model.AktifSurec.Proje.ProjeAdi </a>
                @if (Model.AktifSurec.Surec2 != null)
                {
                <a href="/Proje/SurecDetay?projeKimligi=@Model.AktifProje.ID&surecKimligi=@Model.AktifSurec.Surec2.ID" class="breadcrumb">@Model.AktifSurec.Surec2.SurecAdi</a>
                }
                <a href="/Proje/SurecDetay?projeKimligi=@Model.AktifProje.ID&surecKimligi=@Model.AktifSurec.ID" class="breadcrumb">@Model.AktifSurec.SurecAdi</a>
                <a href="#!" class="breadcrumb">Süreç Detayı</a>
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s10">
                        <span class="card-title">@Model.AktifSurec.SurecAdi - Açıklama</span>
                        <div class="divider"></div><br />
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text" style="text-align:justify;font-size:1.5rem;">
                                    @Model.AktifSurec.Aciklama
                                </p>
                            </div>
                        </div>
                        <div class="divider"></div><br />
                        <div class="row">
                            <a class="waves-effect waves-light btn" href="#SurecBilGuncelle" onclick="surecKimligiGetir(@Model.AktifSurec.ID)">Bilgileri Güncelle</a>
                            <a class="waves-effect waves-light red btn" href="#SurecSil" onclick="surecKimligiGetir(@Model.AktifSurec.ID)">Süreci Sil</a>
                        </div>
                    </div>
                    <div class="col s2" style="padding-right:2.5rem;">
                        <div class="row">
                            <span class="badge teal white-text">@DateTime.Parse(Model.AktifSurec.BaslamaTarihi.Value.ToString()).ToShortDateString()</span>
                        </div>
                        <div class="row">
                            <span class="badge red white-text">@DateTime.Parse(Model.AktifSurec.BitisTarihi.Value.ToString()).ToShortDateString()</span>
                        </div>
                        <div class="row">
                            <span class="badge indigo darken-1 white-text">@Model.AktifSurec.Proje.ProjeAdi</span>
                        </div>
                        <div class="row">
                            <span class="badge orange white-text">@Model.AktifSurec.Surec1.Count Alt Süreç</span>
                        </div>
                        <div class="row">
                            <span class="badge green white-text">@Model.AktifSurec.Is.Count İş Öğesi</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s12">
                        <span class="card-title">@Model.AktifSurec.SurecAdi - Notlar</span>
                        <div class="divider"></div><br />
                        <div class="row">
                            <form class="col s12">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix white-text">mode_edit</i>
                                    <textarea id="surecNotlari" name="Notlar" class="materialize-textarea white-text">@Model.AktifSurec.Notlar</textarea>
                                    <label for="surecNotlari" class="white-text">Notlar</label>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a href="#!" class="waves-effect waves-green btn green right" onclick="notuKaydet(@Model.AktifSurec.ID)">Kaydet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <span class="card-title white-text">@Model.AktifSurec.SurecAdi - İşler & Alt Süreçler</span>
                        <div class="divider white-text"></div><br />
                        <div class="row">
                            @if (Model.AktifSurec.Is.Count > 0)
                            {
                            <ul class="collection">
                                @foreach (var i in Model.AktifSurec.Is)
                                {
                                <li class="collection-item" style="padding-top:2rem;">
                                    <div class="row blue-grey-text text-darken-1">
                                        <div class="col s1">
                                            <p class="flow-text">
                                                <b>#</b>@i.ID
                                            </p>
                                        </div>
                                        <div class="col s5">
                                            <p class="flow-text">
                                                @i.IsAdi
                                            </p>
                                        </div>
                                        <div class="col s1">
                                            @DateTime.Parse(i.OlusturmaTarihi.Value.ToString()).ToShortDateString()
                                        </div>
                                        <div class="col s1">
                                            @DateTime.Parse(i.BitisTarihi.Value.ToString()).ToShortDateString()
                                        </div>
                                        <div class="col s3 push-s1">
                                            @Html.ActionLink("Detaylar", "IsDetay", "Proje", new { projeKimligi = i.Surec.ProjeID, surecKimligi = i.SurecID, isKimligi = i.ID }, new { @class = "waves-effect waves-green btn deep-orange darken-3 right" })
                                        </div>
                                    </div>
                                </li>
                                }
                            </ul>
                            }
                            else
                            {
                            <div class="col s12">
                                <div class="card-panel teal">
                                    <span class="white-text">
                                        Bu süreç henüz bir işe sahip değil.
                                    </span>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="row">
                            @if (Model.AktifSurec.Surec1.Count > 0)
                            {
                            <ul class="collapsible blue-grey-text text-darken-1" data-collapsible="accordion">
                                @foreach (var altSurec in Model.AktifSurec.Surec1)
                                {
                                <li>
                                    <div class="collapsible-header">
                                        <div class="row valign-wrapper" style="margin-bottom:-1rem;">
                                            <div class="col s4">
                                                @altSurec.SurecAdi
                                            </div>
                                            <div class="col s1">
                                                @switch (altSurec.Oncelik)
                                                {
                                                    case 1:
                                                <span class="badge green white-text" style="width:2rem;">D</span>
                                                        break;
                                                    case 2:
                                                <span class="badge orange white-text" style="width:2rem;">O</span>
                                                        break;
                                                    case 3:
                                                <span class="badge red white-text" style="width:2rem;">Y</span>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            </div>
                                            <div class="col s1">
                                                @DateTime.Parse(altSurec.BaslamaTarihi.Value.ToString()).ToShortDateString()
                                            </div>
                                            <div class="col s1">
                                                @DateTime.Parse(altSurec.BitisTarihi.Value.ToString()).ToShortDateString()
                                            </div>
                                            <div class="col s3">
                                                <div class="progress valign pink lighten-3">
                                                    <div class="determinate pink darken-1" style="width:@altSurec.TamamlanmaOrani%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="collapsible-body white">
                                        @if (altSurec.Is.Count > 0)
                                        {
                                        <ul class="collection">
                                            @foreach (var i in altSurec.Is)
                                            {
                                            <li class="collection-item">
                                                <div class="row valign-wrapper" style="margin-bottom:-1rem;">
                                                    <div class="col s7">
                                                        <p class="flow-text">
                                                            <b>#@i.ID </b>
                                                            @i.IsAdi
                                                        </p>
                                                    </div>
                                                    <div class="col s1">
                                                        @DateTime.Parse(i.OlusturmaTarihi.Value.ToString()).ToShortDateString()
                                                    </div>
                                                    <div class="col s1">
                                                        @DateTime.Parse(i.BitisTarihi.Value.ToString()).ToShortDateString()
                                                    </div>
                                                    <div class="col s3">
                                                        @Html.ActionLink("Detaylar", "IsDetay", "Proje", new { projeKimligi = i.Surec.ProjeID, surecKimligi = i.SurecID, isKimligi = i.ID }, new { @class = "waves-effect waves-green btn deep-orange darken-3 right" })
                                                    </div>
                                                </div>
                                            </li>
                                            }
                                            <li class="row" style="margin:1rem 0rem;padding-right:1rem;">
                                                <a href="#IsEkle" class="waves-effect waves-green btn green right valign" onclick="surecKimligiGetir(@altSurec.ID)">İş Ekle</a>
                                            </li>
                                        </ul>
                                        }
                                    </div>
                                </li>
                                }
                            </ul>
                            }
                            else
                            {
                            <div class="col s12">
                                <div class="card-panel teal">
                                    <span class="white-text">
                                        Bu süreç bir alt sürece sahip değil.
                                    </span>
                                </div>
                            </div>
                            }
                            <div class="right">
                                @if (Model.AktifSurec.AnaSurecID == null)
                                {
                                @Html.ActionLink("Süreç Ekle", "SurecEkle", "Proje", new { projeKimligi = Model.AktifProje.ID, anaSurecKimligi = Model.AktifSurec.ID }, new { @class = "waves-effect waves-green btn green valign"})
                                }
                                <a href="#IsEkle" class="waves-effect waves-green btn green" onclick="surecKimligiGetir(@Model.AktifSurec.ID)" style="margin-right:1rem;">İş Ekle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- İş Ekle Modal -->
<div id="IsEkle" class="modal modal-fixed-footer" style="min-height: 95vh; margin-top: -3rem">
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="IsAdi" type="text"class="validate" name="İş Adı">
                        <label for="IsAdi">İş Adı</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="IsAciklama" class="materialize-textarea" name="İş Açıklama"></textarea>
                        <label for="IsAciklama">Açıklama</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="BitisTarihi" type="date" class="datepicker" placeholder="Bitiş Tarihi" name="İş Bitiş Tarihi">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="isEkle()">İşi Ekle</a>
    </div>
</div>

<!-- Süreç Bilgilerini Güncelleme Modalı -->
<div id="SurecBilGuncelle" class="modal">
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="SurecAdi" type="text" class="validate" name="Süreç Adı">
                        <label for="SurecAdi">Süreç Adı</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="Oncelik" name="Öncelik">
                            <option value="1">Düşük</option>
                            <option value="2">Orta</option>
                            <option value="3">Yüksek</option>
                        </select>
                        <label class="white-text">Öncelik</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="Aciklama" class="materialize-textarea" name="Süreç Açıklaması"></textarea>
                        <label for="Aciklama">Açıklama</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="SurecGuncelle()">Güncelle</a>
    </div>
</div>
<!-- Süreç Bilgilerini Güncelleme Modalı Bitiş -->

<!-- Süreç Sil Modal -->
<div id="SurecSil" class="modal">
    <div class="modal-content">
        <p>@Model.AktifSurec.SurecAdi adlı süreci silmek istediğinizden emin misiniz?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="SureciSil()">Sil</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Vazgeç</a>
    </div>
</div>
<!-- Süreç Sil Modal Bitiş -->


<script type="text/javascript">
    function temizle() {
        $(':input').removeAttr('checked').removeAttr('selected').not(':button, :submit, :reset, :hidden, :radio, :checkbox').val('').blur();
    }

    function notuKaydet(surekKimlik) {
        var kontrol = true;
        $('textarea#surecNotlari').each(function () {
            if ($.trim($(this).val()) == "") {
                Materialize.toast(this.name + ' alanı boş bırakılamaz!', 3000, 'red rounded');
                kontrol = false;
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        });

        if (kontrol == true) {
            var eklenecekNot = $("#surecNotlari").val();
            var sk = surekKimlik;
            $.post("/Proje/SureceNotEkle", { surecKimligi: sk, eklenecekNot: eklenecekNot }, function (cevap) {
                if (cevap == "Başarılı.") {
                    Materialize.toast('Not başarıyla güncellendi.', 3000, 'green rounded');
                    location.reload(true);
                } else {
                    Materialize.toast('Not güncelleme işlemi başarısız!', 3000, 'red rounded');
                }
            });
        }
    }

    var surecKimligi;
    function surecKimligiGetir(kimlik) {
        surecKimligi = kimlik;
    }

    function isEkle() {
        var kontrol = true;
        $('#IsEkle input').not(':button, :submit, :reset, :hidden, :radio, :checkbox').each(function () {
            if ($.trim($(this).val()) == "") {
                Materialize.toast(this.name + ' alanı boş bırakılamaz!', 3000, 'red rounded');
                kontrol = false;
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        });

        if ($.trim($('#IsAciklama').val()) == "") {
            Materialize.toast('İş açıklama alanı boş bırakılamaz!', 3000, 'red rounded');
            kontrol = false;
            $('#IsAciklama').addClass("invalid");
        } else {
            $('#IsAciklama').removeClass("invalid");
        }
        if (kontrol) {
            var eklenecekIs = {
                AktifMi: true,
                IsAdi: $("#IsAdi").val(),
                Aciklama: $("#IsAciklama").val(),
                BitisTarihi: $("#BitisTarihi").val(),
                SurecID: surecKimligi
            };

            $.post("/Proje/IsEkle", eklenecekIs, function (cevap) {
                if (cevap == "Başarılı.") {
                    Materialize.toast('İş başarıyla eklendi.', 3000, 'green rounded');
                    location.reload(true);
                } else {
                    Materialize.toast('İş eklenirken hata!', 3000, 'red rounded');
                }
            });
            temizle();
        }
    }

    function SurecGuncelle() {
        var kontrol = true;
        $('#SurecBilGuncelle input').not(':button, :submit, :reset, :hidden, :radio, :checkbox').each(function () {
            if ($.trim($(this).val()) == "") {
                Materialize.toast(this.name + ' alanı boş bırakılamaz!', 3000, 'red rounded');
                kontrol = false;
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        });
        if ($.trim($('#Aciklama').val()) == "") {
            Materialize.toast('Süreç açıklama alanı boş bırakılamaz!', 3000, 'red rounded');
            kontrol = false;
            $('#Aciklama').addClass("invalid");
        } else {
            $('#Aciklama').removeClass("invalid");
        }

        if (kontrol) {
            var surec = {
                Oncelik: $("#Oncelik").val(),
                SurecAdi: $("#SurecAdi").val(),
                Aciklama: $("#Aciklama").val(),
                ID: surecKimligi
            };

            $.post("/Proje/SurecGuncelle", surec, function (cevap) {
                if (cevap == "Başarılı.") {
                    Materialize.toast('Süreç Güncelleme İşlemi Başarılı.', 3000, 'green rounded');
                    location.reload(true);
                } else {
                    Materialize.toast('Süreç Güncelleme Hatası!', 3000, 'red rounded');
                }
            });
        }
    }

    function SureciSil() {
        var surecKimlik = {
            surecKimlik: surecKimligi
        }

        $.post("/Proje/SureciSil", surecKimlik, function (cevap) {
            if (cevap == "Başarılı.") {
                Materialize.toast('Süreç başarıyla silindi.', 3000, 'green rounded');
                window.location("../App/Index");
            } else {
                Materialize.toast('Süreç silinirken hata!', 3000, 'red rounded');
            }
        });
    }
</script>
