@model MEZBELE.Models.Users

@{
    ViewBag.Title = "Profil Bilgilerini Düzenle";
    Layout = "~/Views/Shared/App/_AppLayout.cshtml";
}

<h4>Profil Bilgilerini Düzenle</h4>
<hr />

<div class="ui one column grid">
    <div class="column">
        <div class="ui raised segment">
            <a class="ui red ribbon label">Düzenlenecek Bilgiler</a>

            <br /><br /><br />

            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "red text" })
                @Html.HiddenFor(model => model.Id)

                <div class="field">
                    <label>Kullanıcı Adı:</label>
                    <div class="ui fluid left corner labeled input">
                        @Html.EditorFor(model => model.UserName)
                        <div class="ui left corner label">
                            <i class="user icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>E-posta Adresi:</label>
                    <div class="ui fluid left corner labeled input">
                        @Html.EditorFor(model => model.EMail)
                        <div class="ui left corner label">
                            <i class="mail icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Parola:</label>
                    <div class="ui fluid left corner labeled input">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password" } })
                        <div class="ui left corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>İsim:</label>
                    <div class="ui fluid input">
                        @Html.EditorFor(model => model.FirstName)
                    </div>
                </div>
                <div class="field">
                    <label>Soyisim:</label>
                    <div class="ui fluid input">
                        @Html.EditorFor(model => model.LastName)
                    </div>
                </div>
                    <div class="field">
                        <label>Kullanıcı Resmi:</label>
                        <div class="ui fluid input">
                            @Html.EditorFor(model => model.UserAvatar)
                        </div>
                    </div>
                    <br/>
                    <div class="ui buttons">
                        <input class="ui large teal submit button" type="submit" value="Kaydet"  style="margin-left: 10px;"/>
                        <div class="or" data-text=""></div>
                        @Html.ActionLink("Geri Dön", "Index", null, new { @class = "ui negative button" })
                    </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
</div>
