<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="ui container">
        <div class="ui menu">
            @Html.ActionLink("MEZBELE", "Index", "Home", new { area = "" }, new { @class = "item" })
            <div class="right menu">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "item" })
                @Html.ActionLink("About", "About", "Home", null, new { @class = "item" })
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "item" })
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MEZBELE</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")
    @RenderSection("scripts", required: false)
</body>
</html>
